/* src/app/globals.css */

body {
  background-color: #f3f2f2; /* Light grey tint */
  margin: 0; /* Remove spacing */
  font-family: 'Roboto', sans-serif;
}

html, body, #__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0; /* Remove padding */
  max-width: 100%; /* Full-width layout */
}
